.sphere {
  width: 10em;
  height: 10em;
  border-radius: 5em;
  margin: 4px auto; /* Añade un margen de 4px */
}

.background {
  filter: blur(20px);
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  z-index: -1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; /* Alinea las esferas en la parte superior */
}
