.link-item {
  display: flex;
  flex: 1;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: 10px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.23);
  background-color:rgba(255, 255, 255, 0.90);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

.a-icon {
  display: flex;
  flex: 1;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
}


.link-item:hover {
  border-radius: 50%;
  transform: scale(1.1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.link-icon {
  width: 50%;
  height: 50%;
  color: #0A2149;
}
