@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.home-page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 500px;
  min-width: 400px;
}



