body {
    margin: 2px rgb(221, 255, 0) solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    max-width: 700px;
    height: 145vh;
}